html, body{
    height: 100%;
}

/* home */

#headerHome {
    background-image: url(/image/hinh-nen.jpg);
    background-position: center;
    height: 720px;
    justify-content: initial !important;
}

#divChildNav {
    margin-top: 10px;
    margin-bottom: 10px;
}

#bannerHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

#containSlogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#containSlogan span{
    color: #cccccc;
    font-size: 72px;
    font-family: Georgia;
}

.button-banner{
    background: none;
    color: white;
    width: 160px;
    height: 40px;
    margin: 20px;
    border: 2px solid white;
}

.button-banner:hover{
    background-color: #333333;
    opacity: 0.75;
    border: none;
}

.child-body-home{
    margin-bottom: 100px !important;
    margin-top: 100px !important;
}

.content-strip{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-strip p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

/* login */

.hero.is-success{
    background-color: white !important;
}