<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chủ</title>
    <header th:insert="layout :: head"></header>
</head>
<body>

<div id="headerHome" class="hero">
    <!-- navbar trang chủ -->
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div id="divChildNav" class="container">
            <!-- logo navbar -->
            <div class="navbar-brand">
                <a href=""><img src="image/android-9-pie-logo.png" width="150px"></a>
                <a role="button" class="navbar-burger" data-target="navbarMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <!-- danh sách các item trong navbar -->
            <div id="navbarMenu" class="navbar-menu">
                <!-- bên trái navbar -->
                <div class="navbar-start">

                </div>
                <!-- bên phải navbar -->
                <div class="navbar-end">
                    <a href="" class="navbar-item">Gọi món</a>
                    <a href="/login" class="navbar-item">Đăng nhập</a>
                </div>
            </div>
        </div>
    </nav>

    <div id="bannerHome" class="container has-text-centered">

        <div id="containSlogan">
            <span>Thực phẩm sạch</span>
            <span>cho bữa ăn ngon miệng!</span>
        </div>

        <div>
            <button class="button-banner">ĐẶT BÀN</button>
            <button class="button-banner">XEM THỰC ĐƠN</button>
        </div>

    </div>

</div>

<div id="bodyHome" class="container">

    <div class="columns child-body-home">
        <div class="column">
            <div class="content-strip">
                <p>ĐÔNG - TÂY KẾT HỢP</p>
                <span>
                        <i>Chúng tôi mang đến cho bạn những bữa ăn thơm ngon, giàu dinh dưỡng đa dạng về chủng loại từ
                            phương Đông đến phương Tây để bạn thỏa sức lựa chọn - chắc chắn không làm bạn thất vọng.</i>
                    </span>
                <br>
                <a href=""><i>Đặt bàn ngay >></i></a>
            </div>
        </div>
        <div class="column">
            <img src="image/hinh-mau-1.jpg">
        </div>
    </div>

    <div class="columns child-body-home">
        <div class="column">
            <img src="image/hinh-mau-2.jpg">
        </div>
        <div class="column">
            <div class="content-strip">
                <p>HƯƠNG VỊ CỦA THIÊN NHIÊN</p>
                <span>
                        <i>Với nguồn nguyên liệu tươi ngon, đảm bảo vệ sinh an toàn thực phẩm, những món ăn mà chúng
                            tôi đem lại sẽ để lại cho bạn hương vị đậm đà khó quên - Đảm bảo ăn là nhớ!</i>
                    </span>
                <br>
                <a href=""><i>Xem thực đơn >></i></a>
            </div>
        </div>
    </div>

</div>

<footer th:replace="layout :: footer"></footer>

<script th:src="@{/js/index.js}"></script>
</body>
</html>