<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bulma.css}">
</head>
<body>



<footer class="footer" th:fragment="footer">
    <div class="container">
        <p class="title is-4">VỀ CHÚNG TÔI</p>
        <p><b>Địa chỉ:</b> số 3 phố Cầu Giấy, phường Láng Thượng, quận Đống Đa, thành phố Hà Nội</p>
        <p><b>Điện thoại:</b> 0345678910</p>
    </div>

    <div class="has-text-centered">
        <br>
        <br>
        <br>
        <p><i>Nghiên cứu khoa học sinh viên - 2019</i></p>
    </div>
</footer>

</body>
</html>